alias sa='alias | fzf'
alias se='printenv | fzf'
alias s=sudo
alias svi='sudo vim'
alias apt='sudo apt'
alias p='ping6'
alias q='exit'
alias tf='tail -f'
alias tt='telnet'
alias mtr='mtr --curses'
alias yamllint='yamllint -d ~/.yamllint.conf'
alias l='ls -la'
alias ll='ls -l'

alias stowth='stow --dotfiles --verbose --stow --target ~/'
alias unstowth='stow --dotfiles --verbose --delete --target ~/'

# shutdown
#
alias reboot='sudo shutdown -r now'
alias halt='sudo shutdown -h now'
