stow/etc/bin/
stow/etc/run/
stow/htop/.config/htop/
stow/mc/.config/mc/ini
stow/ssh/.ssh/authorized_keys
stow/ssh/.ssh/config
stow/ssh/.ssh/known_hosts
stow/step-cli/dot-step/config/defaults.json
stow/k9s/.config/k9s/clusters/*/config.yaml
stow/k9s/.config/k9s/clusters/**/config.yaml
stow/git/.config/git/
iterm/
