stow/etc/bin/
stow/etc/run/
stow/ssh/
stow/git/
stow/htop/.config/htop/
stow/mc/.config/mc/ini
stow/step-cli/dot-step/config/defaults.json
stow/k9s/.config/k9s/clusters/*/config.yaml
stow/k9s/.config/k9s/clusters/**/config.yaml
iterm/
