stow/etc/bin/*
stow/htop/.config/htop/htoprc
stow/mc/.config/mc/ini
stow/ssh/.ssh/authorized_keys
stow/ssh/.ssh/config
stow/step-cli/dot-step/config/defaults.json
stow/etc/run/*/bin/*
#stow/etc/run/arm-apple-darwin24.0.0/include
#stow/etc/run/arm-apple-darwin24.0.0/info
stow/etc/run/arm-apple-darwin24.0.0/lib/.keepme
#stow/etc/run/arm-apple-darwin24.0.0/man
#stow/etc/run/arm-apple-darwin24.0.0/share
stow/etc/run/include/*
stow/etc/run/info/*
stow/etc/run/man/man1/*
stow/etc/run/man/man2/*
stow/etc/run/man/man3/*
stow/etc/run/man/man4/*
stow/etc/run/man/man5/*
stow/etc/run/man/man6/*
stow/etc/run/man/man7/*
stow/etc/run/man/man8/*
stow/etc/run/man/manl/*
stow/etc/run/man/mann/*
stow/etc/run/share/*
