<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BAT_mini_alignment</key>
	<string>left</string>
	<key>BAT_mini_color</key>
	<string>monochrome</string>
	<key>BAT_mini_label</key>
	<false/>
	<key>Battery_barChart_position</key>
	<integer>3</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>4</integer>
	<key>Battery_battery_additional</key>
	<string>none</string>
	<key>Battery_battery_position</key>
	<integer>0</integer>
	<key>Battery_color</key>
	<false/>
	<key>Battery_label_position</key>
	<integer>2</integer>
	<key>Battery_mini_position</key>
	<integer>1</integer>
	<key>Battery_notifications_high</key>
	<string></string>
	<key>Battery_notifications_low</key>
	<string>low</string>
	<key>Battery_oneView</key>
	<true/>
	<key>Battery_state</key>
	<true/>
	<key>Battery_widget</key>
	<string>battery</string>
	<key>CPU_barChart_position</key>
	<integer>3</integer>
	<key>CPU_label_position</key>
	<integer>1</integer>
	<key>CPU_lineChart_position</key>
	<integer>2</integer>
	<key>CPU_mini_alignment</key>
	<string>center</string>
	<key>CPU_mini_color</key>
	<string>monochrome</string>
	<key>CPU_mini_label</key>
	<true/>
	<key>CPU_mini_position</key>
	<integer>0</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>Clock_label_position</key>
	<integer>1</integer>
	<key>Clock_list</key>
	<data>
	W3siZW5hYmxlZCI6dHJ1ZSwiZm9ybWF0IjoiSEg6bW06c3MiLCJ0eiI6ImxvY2FsIiwi
	aWQiOiIyMUZERjU0Ni05NUI1LTRBRTgtOEQ1NC0zMzk2QjgzRkRFQTEiLCJuYW1lIjoi
	TG9jYWwgdGltZSJ9XQ==
	</data>
	<key>Clock_oneView</key>
	<false/>
	<key>Clock_sensors_mode</key>
	<string>automatic</string>
	<key>Clock_sensors_monospacedFont</key>
	<false/>
	<key>Clock_stack_position</key>
	<integer>0</integer>
	<key>Clock_state</key>
	<true/>
	<key>Clock_widget</key>
	<string>sensors</string>
	<key>CombinedModules</key>
	<false/>
	<key>Disk_barChart_position</key>
	<integer>2</integer>
	<key>Disk_label_position</key>
	<integer>1</integer>
	<key>Disk_memory_position</key>
	<integer>4</integer>
	<key>Disk_mini_position</key>
	<integer>0</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>3</integer>
	<key>Disk_speed_position</key>
	<integer>5</integer>
	<key>Disk_state</key>
	<false/>
	<key>Disk_widget</key>
	<string></string>
	<key>GPU_barChart_position</key>
	<integer>3</integer>
	<key>GPU_label_position</key>
	<integer>1</integer>
	<key>GPU_lineChart_position</key>
	<integer>2</integer>
	<key>GPU_mini_position</key>
	<integer>0</integer>
	<key>GPU_state</key>
	<false/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_widget</key>
	<string>mini</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{817, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va/wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA1AEA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGhvbG0JAAAAAQEAAERv
	Y3VtZW50cwAAAAwAAAABBgAAEAAAACAAAAAsAAAACAAAAAQDAABIQgAAAAAAAAgAAAAE
	AwAAcmoAAAAAAAAIAAAABAMAAKNqAAAAAAAADAAAAAEGAABUAAAAZAAAAHQAAAAIAAAA
	AAQAAEHF1gPBgAAAGAAAAAECAAACAAAAAAAAAB8CAAAAAAAAHwIAAAAAAAAAAAAAAQUA
	AAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEB
	AABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBx0KQYgAAACQAAAAB
	AQAANjNFQkMxNTEtQTAwOC00Q0U1LTlBMEItMThDRDdGQTVFRkM2GAAAAAECAACBAAAA
	AQAAAO8TAAABAAAA7xMAAAEAAAABAAAAAQEAAC8AAAAJAAAAAQEAAERva3VtZW50ZQAA
	ADAAAAABAgAAZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAc2NvZAIA
	AAAAAAAA8AAAAP7///8BAAAAAAAAABMAAAAEEAAAQAAAAAAAAAAFEAAAhAAAAAAAAAAQ
	EAAAqAAAAAAAAABAEAAAmAAAAAAAAAACIAAAfAEAAAAAAAAFIAAA7AAAAAAAAAAQIAAA
	/AAAAAAAAAARIAAAMAEAAAAAAAASIAAAEAEAAAAAAAATIAAAIAEAAAAAAAAgIAAAXAEA
	AAAAAAAwIAAAyAAAAAAAAAABwAAA0AAAAAAAAAARwAAAIAAAAAAAAAASwAAA4AAAAAAA
	AAAB0AAAyAAAAAAAAAAQ0AAABAAAAAAAAAAX8AAAiAEAAAAAAAAi8AAAnAEAAAAAAAA=
	</data>
	<key>NSStatusItem Preferred Position Battery</key>
	<real>334</real>
	<key>NSStatusItem Preferred Position CPU_mini</key>
	<real>498</real>
	<key>NSStatusItem Preferred Position Clock_sensors</key>
	<real>86</real>
	<key>NSStatusItem Preferred Position RAM_mini</key>
	<real>451</real>
	<key>NSStatusItem Restore Position GPU_mini</key>
	<integer>437</integer>
	<key>NSStatusItem Restore Position Network_speed</key>
	<integer>319</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>871 720 817 448 0 0 2560 1409 </string>
	<key>Network_base</key>
	<string>bit</string>
	<key>Network_label_position</key>
	<integer>2</integer>
	<key>Network_networkChart_position</key>
	<integer>1</integer>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_state</key>
	<false/>
	<key>Network_state_position</key>
	<integer>3</integer>
	<key>Network_usageReset</key>
	<string>Once per day</string>
	<key>Network_widget</key>
	<string>speed</string>
	<key>RAM_barChart_position</key>
	<integer>3</integer>
	<key>RAM_combinedProcesses</key>
	<true/>
	<key>RAM_label_position</key>
	<integer>1</integer>
	<key>RAM_lineChart_position</key>
	<integer>2</integer>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_alignment</key>
	<string>center</string>
	<key>RAM_mini_color</key>
	<string>monochrome</string>
	<key>RAM_mini_label</key>
	<true/>
	<key>RAM_mini_position</key>
	<integer>0</integer>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_widget</key>
	<string>mini</string>
	<key>clock_21FDF546-95B5-4AE8-8D54-3396B83FDEA1_popupState</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1761303316</integer>
	<key>telemetry</key>
	<false/>
	<key>updater_check_ts</key>
	<integer>1761303316</integer>
	<key>version</key>
	<string>2.11.57</string>
</dict>
</plist>
